<div class="order-item">
<div  class="container">
    <br><br>
    <div class="row">
        <div class="offset-4 col-5 ">
            <form class="form-horizontal shadow p-3 mb-5 bg-white rounded" #f="ngForm" (ngSubmit)=" formSubmit()" novalidate>
                <div class="form-group">
                    <label style="font-weight: bolder;font-size: medium;"class="control-label col-m-10" for="orderitem">SONNET-REGISTERED-ID(Kindly check your registration confirmation or contact customer service): </label>
                    <div class="col-m-10">
                        <input  class="form-control" name="id" [(ngModel)]="orderData.sonnetRegisteredId" placeholder="SONNET-REGISTERED-ID"/>
                    </div>
                </div>
               
                <div class="form-group">
                    <label style="font-weight: bolder;font-size: medium;"class="control-label col-m-10" for="orderitem">PRICE: </label>
                    <div class="col-m-10">
                        <input  class="form-control" name="price" [(ngModel)]="orderData.unitPrice" ng-init="orderData.unitPrice=Math.floor(Math.random() * (1000 - 3000)) + 100000"  placeholder="UNIT PRICE"/>
                    </div>
                </div>
                <div class="form-group">
                    <label style="font-weight: bolder;font-size: medium;" class="control-label col-m-10" for="quantity">QUANTITY: </label>
                    <div class="col-m-10">
                        <input class="form-control" name="quantity" [(ngModel)]="orderData.quantity" ng-init="orderData.quantity=2" placeholder="QUANTITY"/>
                    </div>
                </div>
                <div class="form-group">
                    <label style="font-weight: bolder;font-size: medium;" class="control-label col-m-10" for="productId">PRODUCT ID: </label>
                    <div class="col-m-10">
                        <input  class="form-control" name="productId" [(ngModel)]="orderData.productId" placeholder="PRODUCT Id"/>
                    </div>
                </div>                
                <br />  
                <h1>Total Amount:{{orderData.unitPrice*orderData.quantity}}</h1>
                <div class="form-group">
                    <div class="col-m-offset-2 col-m-4">

                          <mat-card-actions style="text-align: center">
                            <button mat-raised-button color="primary"><mat-icon>arrow_forward</mat-icon>PROCEED</button>
                          </mat-card-actions>
                          <br><br>
                         
                    </div>
                    <div class="col-m-offset-2 col-m-4"> 
                         <mat-card-actions style="text-align: center">
                            <a [routerLink]="['/list-order-items']">
                             <button mat-raised-button color="primary"><mat-icon> local_grocery_store</mat-icon>CART-ITEMS</button>
                             </a>
                        </mat-card-actions>
                         <br><br>



                        <mat-card-actions style="text-align: center">
                            <a [routerLink]="['/product-category']">
                                <button mat-raised-button color="primary"><mat-icon>shopping_basket</mat-icon>CONTINUE SHOPPING</button>
                            </a>
                        </mat-card-actions>
                        <br><br>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>
