
<div class="jumbotron">
    <div class="container text-center">
        <p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

        </p> 
    </div>
  </div>
  
<div class="service-page">
    <mat-card class="mat-elevation-z12">
      <mat-card-title style="text-align:center;">CONTACT US</mat-card-title>
      <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
        
        <mat-tab label="Feel Free To Reach Us At Anytime">
          <mat-card-content>
            <mat-icon matPrefix>email</mat-icon><br>
              <strong>sonnet19ibm@gmail.com</strong>
          </mat-card-content>

          <!--<mat-card-content>
           <mat-icon matPrefix>perm_phone_msg</mat-icon><br>
                <strong>9878678987</strong>
          </mat-card-content>-->
          <mat-card-content>
            <mat-icon matPrefix>local_phone</mat-icon><br>
                 <strong>9878678987</strong>
           </mat-card-content>

           <mat-card-content>
            <mat-icon matPrefix>facebook</mat-icon><br>
                 <strong>https://www.facebook.com/sonnet/</strong>
           </mat-card-content>
        </mat-tab>
      </mat-tab-group>
    </mat-card>



    <div class="message" style="text-align:center;font-style: italic;">
    <pre style="background-color:lavender;font-size: medium;"><strong>
        As women on this journey called life,
        we’ve come a long way.
        We’ve learnt that our femininity, is a big part of who we are.
        Something to be celebrated,
        Not something to be hidden away.
        A new perspective,
        a fresh voice on the table.
        A celebration of sass and sisterhood.
        You see, we are not fighting battles
        in the way you think we should be fighting them.
        We’re doing it our way. Because for us,
        the biggest victory is in being ourselves.
        No apologies.
        
        Because owning our fabulously female self,
        in its purest, most unabashed form,
        is our way of falling in love with ourselves.
        All over again.
        
        So we wear what makes us happy.
        What makes us feel like ourselves.
        And because that feeling is so extraordinary, unique and personal,
        we choose a metal as rare as platinum.
        PLATINUM SONNET
        Very rare. Very you.
         </strong>
        
       </pre>
    </div>

  </div>
