.card-heading{
    text-align: center;
    font-weight: bold;
}
.content{
    font-family: initial;
}
.wristwear{
    background-image: url('/assets/img/product category1.PNG');
    background-repeat: no-repeat;
    background-size:cover;
}
